@charset "UTF-8";

/*!! ClickNToulon v0.1.0 | MIT License | https://clickntoulon.fr */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/satoshi/Satoshi-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/satoshi/Satoshi-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/satoshi/Satoshi-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/satoshi/Satoshi-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/satoshi/Satoshi-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/satoshi/Satoshi-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/satoshi/Satoshi-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/satoshi/Satoshi-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/satoshi/Satoshi-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/satoshi/Satoshi-BlackItalic.woff2') format('woff2');
}

* {
    font-family: 'Satoshi', sans-serif !important;
    text-size-adjust: 100%;
}

a:any-link {
    text-decoration: none;
}

button {
    outline: none !important;
}

.w-inherit {
    width: inherit;
}

.checkmark {
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    animation: scale .1s ease-in-out .4s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    fill: #FFF;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.3s forwards;

    @apply stroke-success;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

.h-hero {
    height: calc(100vh - 458px);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 11px;
    height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-darkorange rounded;
}

.custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-300 rounded;
}

.min-h-sidebar {
    min-height: calc(100vh - 104px) !important;
}

@keyframes disappear {
	0% {
		display: block;
	}
	100% {
		display: none;
	}
}

.animate-display {
	animation: disappear 0.5s ease-in-out;
}

