@charset "UTF-8";

/*!! ClickNToulon v0.1.0 | MIT License | https://clickntoulon.fr */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Proxima Soft";
    font-weight: 400;
    src: url('../fonts/ProximaSoft-Regular.woff') format('woff');
}

@font-face {
    font-family: "Proxima Soft";
    font-weight: 500;
    src: url('../fonts/ProximaSoft-Medium.woff') format('woff');
}

@font-face {
    font-family: "Proxima Soft";
    font-weight: 600;
    src: url('../fonts/ProximaSoft-SemiBold.woff') format('woff');
}

@font-face {
    font-family: "Proxima Soft";
    font-weight: 700;
    src: url('../fonts/ProximaSoft-Bold.woff') format('woff');
}

@font-face {
    font-family: "Proxima Soft";
    font-weight: 800;
    src: url('../fonts/ProximaSoft-ExtraBold.woff') format('woff');
}

* {
    font-family: "Proxima Soft", sans-serif !important;
    text-size-adjust: 100%;
}

a:any-link {
    text-decoration: none !important;
}

button {
    outline: none !important;
}

.w-inherit {
    width: inherit;
}

.checkmark {
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    animation: scale .1s ease-in-out .4s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    fill: #FFF;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.3s forwards;

    @apply stroke-success;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
